body {
  background-color: lightblue;
}

main {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.4fr 2.1fr 0.4fr 1.5fr .4fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row dense;
  grid-template-areas:
    "Title Title Title Title"
    "Results pic1 pic2 pic3"
    "Results empty empty empty"
    "Results text text text"
    "footer footer footer footer";
}

div {
  border: 1px solid black;
}

.Title {
  grid-area: Title;
  text-align: center;
  font-size: 100px;
  color: black;
  padding: 50px;
}

.Results {
  grid-area: Results;
  text-align: left;
  padding: 50px;
}

.pic1 {
  grid-area: pic1;
  max-height: fit-content;
  max-width: fit-content;
  padding: 5px;
}

.pic2 {
  grid-area: pic2;
  max-height: fit-content;
  max-width: fit-content;
  padding: 5px;
}

.pic3 {
  grid-area: pic3;
  max-height: fit-content;
  max-width: fit-content;
  padding: 5px;
}

.empty {
  grid-area: empty;
}

.text {
  grid-area: text;
  font-size: 25px;
  padding: 100px;
}

.footer {
  grid-area: footer;
  padding: 50px;
}

#showResults {
  display: none;
}

#results {
  display: none;
}
